//sidebar
$menuBg:#333740;
$subMenuBg:#333740;
$menuHover: #5E9BF2;
$menuActive:#5E9BF2;
$topNavBg:#1F2B3B;
$logoColor:#fff;
$textHover:#fff;
$textActive:#fff;
$menuIconColor:#fff;
$linkColor:#5E9BF2;
$headbarBg:#5E9BF2;
$textIndent:2rem;
$textColor1: #B2B2B2;  // 用于提示或输入框提示内容
$textColor2: #333; // 用于标题的情况下
$textColor3: #666; // 用于正文的情况下
$dialogTopBg: #eee;
$textColorOpacity:rgba(153,153,153,.4);
$miniMenuWidth:123px;
$buttonBg:#5E9BF2;
$buttonBgOrder:#FF6900;
//dashboard
$dashboardBg:#fff;

