.home-out {
  width: 100%;
  height: 600px;
  background: url(../img/beijing.jpg);
  background-size: 100% 600px
}

.header {
  width: 100%;
  height: 100px
}

.header .out {
  width: 1200px;
  height: 100px;
  margin: 0 auto
}

.out img {
  width: 200px;
  height: auto;
  display: inline-block;
  margin-top: 14px
}

.out ul {
  width: 1000px;
  float: right
}

.out ul li {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 20px;
  line-height: 100px;
  text-align: center;
  margin-top: -40px
}

.out ul li a {
  color: #ecf2f7
}

.out ul li a:hover {
  border-bottom: 2px solid #46c0aa;
  padding-bottom: 6px;
  color: #fff
}

.addLogin {
  border-bottom: none!important;
  padding-bottom: 0!important;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  background: #42a838;
  margin: 0 auto;
  border-radius: 9px;
  text-align: center
}
.out ul li .hoverReg {
  background: #42a838;
  border-bottom: none!important;
  padding-bottom: 0!important
}
.out ul li .register {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 9px;
  text-align: center
}

.banner {
  width: 656px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center
}

.banner .introFirst {
  color: #fff;
  font-size: 44px;
  margin-bottom: 34px
}

.banner .introSecond {
  color: #fff;
  font-size: 20px
}

.experience a {
  display: inline-block;
  width: 230px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  background: #42a838;
  margin: 0 auto;
  border-radius: 36px;
  margin-top: 60px;
  text-align: center
}

.hidden {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.5);
  z-index: 100
}

.hidden .header {
  height: 67px
}

.hidden .header .out {
  height: 60px
}

.hidden .header .out img {
  width: 155px;
  height: auto;
  display: inline-block;
  margin-top: 0
}

.hidden .header .out ul li {
  display: inline-block;
  width: 100px;
  height: 60px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  margin-top: -23px
}

.bds-advantage {
  width: 100%;
  margin-top: 105px;
  background-color: #fafafa
}

.bds-advantage .first-title {
  font-size: 32px;
  font-weight: 500;
  padding-top: 60px;
  text-align: center;
  color: #393c3e;
  min-width: 1200px
}

.bds-advantage .second-title {
  margin: 24px auto auto;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: #393c3e;
  min-width: 1200px;
  line-height: 28px
}

.bds-advantage .bds-container {
  width: 80%;
  min-width: 1200px;
  height: 360px;
  margin: 0 auto;
  margin-top: 55px
}

.bds-advantage .bds-container ul {
  display: block;
  width: 100%
}

.bds-advantage .bds-container ul li {
  display: inline-block;
  width: 19%
}

.bds-advantage .bds-container ul li img {
  width: 100px;
  height: 110px;
  display: block;
  margin: 0 auto
}

.bds-advantage .bds-container ul li .bds-items {
  font-size: 19px;
  font-weight: 500;
  color: #393c3e;
  width: 100px;
  text-align: center;
  margin: 20px auto
}

.bds-advantage .bds-container ul li .bds-itemSecond {
  font-size: 17px;
  font-weight: 500;
  color: gray;
  width: 181px;
  margin-left: -24px;
  margin: 9px auto;
  text-align: center
}

.bds-process {
  width: 100%
}

.bds-process .first-title {
  font-size: 32px;
  font-weight: 500;
  color: #393c3e;
  text-align: center;
  min-width: 1200px;
  padding-top: 60px
}

.bds-process .second-title {
  margin: 24px auto auto;
  font-size: 20px;
  font-weight: 500;
  color: #393c3e;
  line-height: 28px;
  text-align: center;
  min-width: 1200px
}

.bds-process .items {
  width: 80%;
  min-width: 1200px;
  height: 230px;
  margin: 55px auto
}

.bds-process .items ul {
  display: block;
  width: 100%
}

.bds-process .items ul li {
  display: inline-block;
  width: 8%
}

.bds-process .items ul .item img {
  width: 80px;
  height: 82px;
  display: block;
  margin: 0 auto
}

.bds-process .items ul li p {
  font-size: 20px;
  font-weight: 500;
  color: #393c3e;
  width: 200px;
  margin-left: -24px;
  margin: 32px auto
}

.bds-process .items ul .item1 img {
  /*width: 44px;*/
  height: 35px;
  padding-left: 33px;
  position: absolute;
  margin-top: -122px
}

.bds-callUs {
  width: 100%;
  background-color: #f2f2f2
}

.bds-callUs .first-title {
  font-size: 32px;
  font-weight: 500;
  color: #393c3e;
  padding-top: 60px;
  text-align: center;
  min-width: 1200px
}

.bds-callUs .second-title {
  margin: 24px auto auto;
  font-size: 20px;
  font-weight: 500;
  color: #393c3e;
  line-height: 28px;
  text-align: center;
  min-width: 1200px
}

.bds-callUs .items {
  width: 80%;
  min-width: 1160px;
  margin: 55px auto;
  overflow: hidden
}

.bds-callUs .items-Second {
  width: 80%;
  min-width: 1160px;
  margin: 55px auto;
  overflow: hidden;
}
.about-text {
  width: 80%;
}

.bds-callUs .items .item-row {
  width: 23%;
  float: left;
  margin-left: 10px
}

.bds-callUs .items .family {
  background: url(../img/u1505.png) center;
  background-size: 100% 100%
}

.bds-callUs .items .job {
  background: url(../img/u1509.png) center;
  background-size: 100% 100%
}

.bds-callUs .items .wedding {
  background: url(../img/u1513.png) center;
  background-size: 100% 100%
}

.bds-callUs .items .money {
  background: url(../img/u1517.png) center;
  background-size: 100% 100%
}

.bds-callUs .items-Second .transaction {
  background: url(../img/u1521.png) center;
  background-size: 100% 100%
}

.bds-callUs .items-Second .work {
  background: url(../img/u1525.png) center;
  background-size: 100% 100%
}

.bds-callUs .items-Second .serve {
  background: url(../img/u1529.png) center;
  background-size: 100% 100%
}

.bds-callUs .items-Second .expressage {
  background: url(../img/u1533.png) center;
  background-size: 100% 100%
}

.bds-callUs .items .item-row p {
  margin-top: 150px;
  height: 50px;
  background-color: #000;
  z-index: 100;
  opacity: .8;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px
}

.bds-callUs .items-Second .item-row {
  width: 23%;
  float: left;
  margin-left: 10px
}

.bds-callUs .items-Second .item-row p {
  margin-top: 150px;
  height: 50px;
  background-color: #000;
  z-index: 100;
  opacity: .8;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px
}

.bds-container {
  width: 100%;
  height: 600px
}

.bds-title .main-title {
  padding-top: 60px;
  font-size: 32px;
  font-weight: 500;
  color: #393c3e;
  text-align: center;
  min-width: 1200px
}

.bds-title .second-title {
  margin: 24px auto auto;
  font-size: 20px;
  font-weight: 500;
  color: #393c3e;
  line-height: 28px;
  min-width: 1200px;
  text-align: center
}

.bds-items {
  margin-top: 40px;
  width: 100%
}

.btn-primary {
  display: block;
  width: 200px;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 18px;
  background: #42a838;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center
}

.bds-foot {
  width: 100%;
  margin-top: 146px;
  background: #313945
}

.bds-foot .items {
  width: 90%;
  margin: 0 auto;
  min-width: 1200px;
  color: #fff
}

.bds-foot .items div {
  display: inline-block
}

.bds-foot .bottom {
  text-align: center;
  color: #bcbcbc;
  border-top: 1px solid #5b6a81;
  min-width: 1200px
}

.bds-foot .bottom p {
  line-height: 60px;
  font-size: 12px
}

.bds-foot .items .items-left {
  width: 18%;
  color: #fff;
  height: 238px;
  font-size: 20px;
  margin-top: 53px;
  margin-left: 126px
}

.bds-foot .items .items-left a {
  color: #fff;
  width: 70px;
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 17px
}

.bds-foot .items .items-center {
  width: 30%;
  height: 200px;
  position: absolute;
  margin-top: 60px;
  margin-left: 145px;
  min-width: 300px
}

.bds-foot .items .items-center .title {
  font-size: 20px;
  color: #fff;
  line-height: 40px;
}

.bds-foot .items .items-center .tel img {
  width: 30px;
  height: 30px;
  margin-top: 24px;
  vertical-align: bottom
}

.bds-foot .items .items-center .tel a {
  color: #fff;
  font-size: 25px
}

.bds-foot .items .items-right {
  width: 10%;
  float: right;
  margin-top: 81px;
  margin-right: 7%
}

#horizontal .front .items-title {
  font-size: 20px;
  height: 50px;
  line-height: 58px;
  border-bottom: 1px #7f7f7f solid;
  text-align: center;
  margin: 5px auto;
  width: 83%;
  color: #000
}

#horizontal .front .item {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  bottom: 35px;
  width: 100%;
  color: #000
}

#horizontal {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  min-width: 1240px
}

#horizontal .front p {
  font-size: 16px;
  margin: 4px auto;
  width: 83%;
  text-align: left;
  color: gray
}

.horizontal .front {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  width: 100%
}

.horizontal .info {
  top: 120px;
  position: absolute;
  left: 0;
  width: 100%
}

.brand a {
  display: block;
  border: 1px solid gray;
  float: left;
  margin: 12px;
  width: 22.5%;
  height: 330px;
  border-radius: 10px;
  text-align: center;
  position: relative
}

.brand img {
  width: 180px;
  height: 240px
}

.brand .info {
  display: none;
  background-color: #f0f0f0;
  color: #369242
}

.vertical .info {
  width: 0;
  height: 240px;
  margin: 0 auto
}

.vertical .info {
  width: 0;
  height: 240px;
  margin: 0 auto
}

#horizontal .front .asterisk {
  position: absolute;
  bottom: 70px;
  width: 83%;
  text-align: left;
  margin-left: 23px
}

.hidden .header .closeLogo {
  width: 20px;
  float: right;
  margin-top: -39px;
  display: inline-block;
  margin-right: 53px
}

.closeLogo:hover {
  transform: rotate(240deg);
  transition: 1s
}

.line {
  display: inline-block;
  border: 1px solid #fff;
  height: 11px;
  margin-left: 6px;
  margin-right: 6px
}
